<label for="surname">
	<f:translate key="tx_ksdcards_domain_model_person.surname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="surname" /><br />
<label for="lastname">
	<f:translate key="tx_ksdcards_domain_model_person.lastname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="lastname" /><br />
<label for="address">
	<f:translate key="tx_ksdcards_domain_model_person.address" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="address" /><br />
<label for="postcode">
	<f:translate key="tx_ksdcards_domain_model_person.postcode" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="postcode" /><br />
<label for="location">
	<f:translate key="tx_ksdcards_domain_model_person.location" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="location" /><br />
<label for="email">
	<f:translate key="tx_ksdcards_domain_model_person.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="phone">
	<f:translate key="tx_ksdcards_domain_model_person.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="note">
	<f:translate key="tx_ksdcards_domain_model_person.note" />
</label><br />
	<f:form.textarea property="note" cols="40" rows="15" /><br />